<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/bootstrap-css/css/bootstrap.min.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/bootstrap-css/css/bootstrap-responsive.css'>  
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div class="alert alert-error">
        <h1>Estatus: {{status}}</h1>
        <pre>{{error}}</pre>
    </div>
  </body>
</html>
