body {
  padding: 50px;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.result {
    font: .5em;
    background-color: lightgray;
	margin-left: 25px;
    border-radius: 10px;
}

.inner-list {
    margin-left: 50px;
}